/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 4rem 10rem;
    background-color: #F1F5FD;
    font-family: "Jost";
    color: #292C29;
    border-top: 10px solid #1842d6;
}

/* common styles of the modal buttons */
.modal-button {
    outline: none;
    pointer-events: none;
}

/* MORE INFO BUTTON STYLES */

.more-info-button {
    border: none;
    background-color: rgba(0,0,0,0);
    outline: none;
    transition: transform 0.3s;
    /* transform: scale(0.5); */
    font-size: 1.2rem;
}

.more-info-button:hover {
    transform: scale(1.2);
}

.more-info-button:focus {
    background-color: rgba(0,0,0,0);
    outline: none;
}


/* OVERLAY SECTION STYLES */

.hide-overlay {
    display: none;
}

.hide-scroll {
    overflow: hidden;
}

.modal-container {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.7);
}

.modal-close-button {
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 2rem;
    padding: 0 0.8rem;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.modal-close-button:hover {
    background-color: rgba(0,0,0,0.2);
}

.modal-close-button:focus {
    outline: none;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    border-top: 10px solid #1842d6;
    /* border-top: 10px solid #ff9a21; */
    
    padding: 2rem;
    border-radius: 10px;
}

.modal-table {
    margin-bottom: 1rem;
}


/* HEADER SECTION STYLES */

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

header h1 {
    font-family: Montserrat;
    font-weight: 700;
    color: #292C29;
}

.export-button-container {
    display: flex;
    flex-direction : row;
    align-items: center;
}

.export-button,
.export-button-modal {
    background-color: #ff9a21;
    border: 3px solid #ff9a21;
    padding: 0.6rem 1rem;
    border-radius: 30px;
    color: white;
    font-size: 1rem;
    transition: color 0.2s, background-color 0.2s;
}

.export-button:hover {
    color: #ff9a21;
    border-radius: 30px;
    background-color: #F1F5FD;
    font-size: 1rem;
    outline: none;
}

.export-button:focus{
    border-radius: 30px;
    outline: none;
    border: 3px solid #f8d4a8;
}


/* FIREFOX ALERT SECTION STYLES */

.hide-firefox-alert {
    display: none;
}

/* SERIES AND SLEEP SECTIONS STYLES */
.series, .data-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.series label,
.data-input label {
    margin: 0;
}

.series input,
.data-input input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.series-start, 
.series-end,
.data-input-start,
.data-input-end {
    width: 49%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.055);
}

.series-start div, 
.series-end div,
.data-input-start div,
.data-input-end div {
    border-radius: 10px 10px 0 0;
    padding-left: 1rem;
}

.series-start-div-label, 
.series-end-div-label,
.sleep-start-div-label,
.sleep-end-div-label {
    background-color: rgb(219, 219, 219);
    margin: 0;
    padding-left: 1rem;
    color: gray;
    border-radius: 30px;
}

.series-start-div-label,
.series-end-div-label {
    border-left: 10px solid #e27639;
}

.sleep-start-div-label {
    border-left: 10px solid #6dae41;
}

.sleep-end-div-label {
    border-left: 10px solid #d0242d;
}

.series-start-div-label p,
.series-end-div-label p,
.sleep-start-div-label p,
.sleep-end-div-label p {
    margin: 0;
}

.series-start-flex-container,
.series-end-flex-container,
.sleep-start-flex-container,
.sleep-end-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 3rem;
}

/* SLEEP DATA SECTION SPECIFIC STYLES */
.sleep-container {
    margin-top: 1rem;
}
.add-entry {
    display: flex;
    justify-content: space-between;
}

.add-entry .sleep-data-heading {
    display: flex;
    align-items: center;
}

.add-entry .sleep-data-heading h4 {
    margin: 0;
}

.add-entry-button,
.add-entry-button-modal {
    background-color: #1842d6;
    border: 3px solid #1842d6;
    padding: 0.6rem 1rem;
    border-radius: 30px;
    color: white;
    font-size: 1rem;
    transition: color 0.2s, background-color 0.2s;
}

.add-entry-button:hover {
    color: #1842d6;
    border-radius: 30px;
    background-color: #F1F5FD;
    font-size: 1rem;
    outline: none;
}

.add-entry-button:focus{
    border-radius: 30px;
    outline: none;
    border: 3px solid #8a99ce;
}

/* DISPLAY SECTION STYLES */

.display-container {
    margin-top: 1rem;
}

.display-sub-container {
    display: flex;
    justify-content: space-between;
}

.display-container-heading,
.toast-message-container {
    display: flex;
    align-items: center;
}

.display-container-heading h4,
.toast-message-container p {
    margin: 0;
}

.toast-message-container {
    display: flex;
    justify-items: center;
    align-items: center;
}

#toast-message {
    background-color: rgb(255, 255, 111);
    padding: 0.25rem 1rem;
    color: rgb(128, 128, 0);
    border-radius: 20px;
}

.hidden-message {
    visibility: hidden;
}

.delete-all-button,
.delete-all-button-modal {
    background-color: #d16338;
    border: 3px solid #d16338;
    padding: 0.6rem 1rem;
    border-radius: 30px;
    color: white;
    font-size: 1rem;
    transition: color 0.2s, background-color 0.2s;
}

.delete-all-button:hover {
    color: #d16338;
    border-radius: 30px;
    background-color: #F1F5FD;
    font-size: 1rem;
    outline: none;
}

.delete-all-button:focus {
    border-radius: 30px;
    outline: none;
    border: 3px solid #d8b8ac;
}

.display {
    margin-top: 1rem;
}

.data-instance {
    background-color: white;;
}

.data-instance div {
    display: inline-block;
    width: 18%;
    /* border: 1px solid red; */
}

table {
    width: 100%;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.01);
    border-radius: 10px;

}

tbody {
    border-radius: 10px;
}

tr {
    border: 2px solid #e9ecf4;
}

.delete-entry-button,
.delete-entry-button-modal {
    background-color: white;
    border: 2px solid #d16338;
    color: #d16338;
    padding: 0.25rem 1rem;
    border-radius: 50px;
    transition: color 0.2s, background-color 0.2s;
}

.delete-entry-button:hover {
    background-color: #d16338;
    border: 2px solid #d16338;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 50px;
    outline: none;
}

.delete-entry-button:focus {
    background-color: #d16338;
    border: 2px solid #d16338;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 50px;
    outline:none;
}

tr:nth-of-type(1) {
    background-color: #e9ecf4;
    padding-top: 1rem;
    border: none;
    border-top: 2px solid #6e7890;
    border-bottom: 2px solid #6e7890;
}

tr:nth-of-type(odd) {
    background-color: #e9ecf4;
}

th {
    color: #6e7890;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

td {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

tr:last-child {
    border-bottom: 2px solid #6e7890;
}

/* HIGHLIGHT TABLE ROWS */

.highlight-table-row {
    background-color: rgb(255, 167, 167) !important;
}


/* COPY 24 HOURS SECTION STYLES */

.copy-24-hours-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

.copy-24-hours-button,
.copy-24-hours-button-modal {
    /* background-color: #F1F5FD; */
    background-color: white;
    border: 3px solid #ff9a21;
    padding: 0.6rem 1rem;
    border-radius: 30px;
    color: #ff9a21;
    font-size: 1rem;
    transition: color 0.2s, background-color 0.2s;
}

.copy-24-hours-button:hover {
    color: white;
    border-radius: 30px;
    background-color: #ff9a21;
    font-size: 1rem;
    outline: none;
}

.copy-24-hours-button:focus {
    border-radius: 30px;
    outline: none;
    border: 3px solid #f8d4a8;
}


/* CSS MEDIA QUERIES */

@media only screen and (max-width: 1280px) {
    body {
        padding: 2rem 2rem;
    }
}

@media only screen and (max-width: 1000px) {

    #series-start-date, 
    #series-end-date,
    #sleep-start-date,
    #sleep-end-date {
        width: 10rem;
    }

    .delete-entry-button,
    .delete-entry-button-modal {
        padding: 5px 10px;
        font-size: 0.9rem;
    }

    .delete-entry-button:hover {
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 890px) {

    h1 {
        font-size: 2rem;
    }

    .series-start-flex-container,
    .series-end-flex-container,
    .sleep-start-flex-container,
    .sleep-end-flex-container {
        padding: 0px 20px;
    }

    .export-button,
    .export-button-modal,
    .add-entry-button,
    .add-entry-button-modal,
    .delete-all-button,
    .delete-all-button-modal,
    .copy-24-hours-button,
    .copy-24-hours-button-modal {
        padding: 10px 10px;
    }

    .export-button:hover,
    .add-entry-button:hover,
    .delete-all-button:hover,
    .copy-24-hours-button:hover {
        padding: 10px 10px;
    }

    .delete-entry-button {
        font-size: 0.8rem;
        margin-right: 10px;
    }
    .delete-entry-button .ion-trash-a {
        display: none !important;
    }
}

@media only screen and (max-width: 735px) {

    #series-start-date, 
    #series-end-date,
    #sleep-start-date,
    #sleep-end-date {
        width: 9rem;
        font-size: 0.9rem;
    }

    body {
        font-size: 0.8rem;
    }

    button {
        font-size: 0.8rem !important;
    }

    .delete-entry-button {
        font-size: 0.7rem !important;
        margin-right: 5px;
    }

    .delete-entry-button .ion-trash-a {
        display: none !important;
    }
}


