/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

input {
  margin-left: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8rem;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  border-style: none;
  border: 2px solid rgb(31, 31, 31);
}

button {
  cursor: pointer;
}

/* HEADER SECTION STYLES */
header {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
}

header h1 {
  color: white;
  letter-spacing: 3px;
  text-align: center;
  font-size: 2rem;
}

/* FIREFOX ALERT SECTION STYLES */
.hide-firefox-alert {
  display: none;
  background-color: red;
  /* padding: 0.5rem; */
}

.alert-danger {
  margin: 0.25rem;
  border: 1px solid #721c24;
}



/* SERIES START AND END DATE SECTION STYLES */

.series {
  display: flex;
  flex-direction: row;
  border-bottom: 4px solid rgb(31, 31, 31);
  background-color: lightgray;
}

.series-start,
.series-end {
  flex: 1;
  /* background-color: lightgray; */
  padding: 1rem;
  text-align: center;
}

.series-start,
.series-end {
  border-right: 4px solid rgb(31, 31, 31);
}

/* .series-end {
  border-left: 2px solid rgb(31, 31, 31);
} */

.series-start-div-1,
.series-end-div-1 {
  margin-bottom: 1rem;
}

.export-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5;
}

#export-button {
  color: white;
  background-color: rgb(31, 31, 31);
  border: none;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 3px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
}

#export-button:hover {
  color: rgb(31, 31, 31);
  background-color: rgb(230, 230, 230);
}

/* DATA INPUT SECTION STYLES */

.data-input {
  display: flex;
  flex-direction: row;
  /* background-color: lightgray; */
  border-bottom: 4px solid rgb(31, 31, 31);
}

.data-input-start,
.data-input-end {
  flex: 1;
  text-align: center;
  /* border-right: 4px solid rgb(31, 31, 31); */
  padding: 1rem;
}

.add-entry {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-entry-button {
  color: white;
  background-color: rgb(31, 31, 31);
  border: none;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 3px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
}

.add-entry-button:hover {
  color: rgb(31, 31, 31);
  background-color: white;
}

/* DISPLAY SECTION STYLES */

.display-container {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

.display-sub-container {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
}

.display-container-heading,
.display-container-delete-button {
  flex: 1;
}

.toast-message-container {
  display: flex;
  justify-items: center;
  align-items: center;
}

#toast-message {
  background-color: rgb(255, 255, 111);
  padding: 0.25rem 1rem;
  color: rgb(128, 128, 0);
  border-radius: 20px;
}

.hidden-message {
  visibility: hidden;
}

.display-container-delete-button {
  display: flex;
  justify-content: flex-end;
}

.delete-all-button {
  color: white;
  background-color: rgb(31, 31, 31);
  border: none;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 3px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
}

.delete-all-button:hover {
  color: rgb(31, 31, 31);
  background-color: rgb(250, 120, 120);
}

.data-instance {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  /* width: 50%; */
  /* text-align: justify; */
  /* This display property adjusts the width of each data instance to the width of the content */
  /* the <br> in the html code added to the final display string makes each data-instance element to go into a different line */
  display: inline-block;
}

.delete-entry-button {
  color: white;
  background-color: rgb(31, 31, 31);
  border: none;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
  margin-left: 5rem;
}

.delete-entry-button {
  color: white;
  background-color: rgb(31, 31, 31);
  border: none;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 3px;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.delete-entry-button:hover {
  color: rgb(31, 31, 31);
  background-color: rgb(250, 120, 120);
}
